# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
.terraform.lock.hcl

# Keys
*.pem
*.key

# kubeconfig
kubeconfig
.kube/

# SSH
.ssh/

# VSCode
.vscode/

# Logs
*.log

# Node
node_modules/

# Build frontend
frontend/build/
frontend/dist/

# Env files
.env
.env.*

# OS
.DS_Store
Thumbs.db
